<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>

<!-- Transgenes typically have all, or all but the first, intron removed. Still, splicing at cryptic splice sites occurs. This is linked to remnant exonic splice enhancer motifs. Removing these motifs alongside with other unwanted functionality will thus improve transgene efficiency -->