<div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary btn-outline params-form", title: "Submit data and start enhancing the gene.", data: {toggle: "tooltip"}, disabled: true %>
    <p id="unsaved-data" class="bg-success" style="display: inline-block;">
        Your input data is not yet saved. Please click the "Save" buttons in the forms above before proceeding.
    </p>
</div>