<div class="field form-group">
    <div class="checkbox-inline">
        <%= f.check_box :keep_first_intron, disabled: true, class: "params-form" %>
        <%= f.label :keep_first_intron, "Keep first intron" %>
    </div>
</div>
