<%= content_tag(:h4, "General considerations") %>
<div class="checkbox">
    <input id="submit_keep_first_intron" class="params-form" name="submit[keep_first_intron]" disabled="disabled" type="checkbox" value="" checked>
    <label for="submit_keep_first_intron">Keep first intron</label>
</div>

<%= content_tag(:h4, "Strategy") %>
<div class="radio">
    <input id="submit_strategy_raw" class="params-form" type="radio" name="submit[strategy]" value="raw" disabled="disabled">
    <label for="submit_strategy_raw"><strong>gc</strong> - Match GC content of 1- or 2-exon genes.</label>
</div>
<div class="radio">
    <input id="submit_strategy_humanize" class="params-form" type="radio" name="submit[strategy]" value="humanize" disabled="disabled" checked="checked">
    <label for="submit_strategy_humanize"><strong>humanize</strong> - Match human codon usage</label>
</div>
<div class="radio">
    <input id="submit_strategy_gc" class="params-form" type="radio" name="submit[strategy]" value="gc" disabled="disabled">
    <label for="submit_strategy_gc"><strong>raw</strong> - Leave the sequence as is</label>
</div>