<% if @statistics %>
    <dl>
        <dt>General statistics</dt>
        <dd>
            <div class="well well-sm">
                <dl class="dl-horizontal nav-tabs">
                    <dt>Number of exons</dt>
                    <dd> <% @statistics.exons %></dd>
                    <dt>Total mRNA size</dt>
                    <dd><% @statistics.length %></dd>
                </dl>
            </div>
        </dd>
    </dl>
<% end %>