<dl>
    <dt>General statistics</dt>
    <dd>
        <div class="well well-sm">
            <dl class="dl-horizontal nav-tabs">
                <dt>Number of exons</dt>
                <dd></dd>
                <dt>Total mRNA size</dt>
                <dd></dd>
            </dl>
        </div>
    </dd>
</dl>