<% if @statistics %>
    <dl>
        <dt>General statistics</dt>
        <dd>
            <div class="well well-sm">
                <table class="custom-table">
                    <tbody>
                        <tr>
                            <td>Original number of exons</td>
                            <td>
                                <%= @statistics[:n_exons]%>
                            </td>
                        </tr>
                    </tbody>
                    <tbody id="stats-without-first-intron">
                        <tr>
                            <td>First intron will be kept?</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>mRNA size of the final gene</td>
                            <td>
                                <%= @statistics[:sequence_length_without_first_intron]%>
                            </td>
                        </tr>
                    </tbody>
                    <tbody id="stats-with-first-intron">
                        <tr>
                            <td>First intron will be kept?</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>mRNA size of the final gene</td>
                            <td>
                                <%= @statistics[:sequence_length_with_first_intron]%>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </dd>
    </dl>
<% end %>