<h1>Enhance transgenes</h1>
<p>
    Transgenes typically have all, or all but the first, intron removed.
    Still, splicing at cryptic splice sites occurs. This is linked to remnant exonic splice enhancer motifs.
    Removing these motifs alongside with other unwanted functionality will thus improve transgene efficiency.
    <%= link_to("Find out more.", about_path, :target => "_blank") %>
</p>

<div class="well">
    <%= render "form" %>
</div>
<div class="new-gene"></div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Gene data</th>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody class="gene-index">
    <%= render "index" %>
  </tbody>
</table>

<div id="gene-modal" class="modal fade"></div>
