<div id="error-alert-results" class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Failed to enhance the gene.
    <%= flash.now[:error].to_s %>
</div>