<%= link_to "Download as FASTA", download_enhancers_path %>
<dl>
    <dt>
        <%= @enhanced_gene.gene_name %>
    </dt>
    <dd>
        <div class="well well-sm clearfix">
            <%= content_tag(:span, @enhanced_gene.data, class: "text-muted monospaced") %>
        </div>
    </dd>
</dl>
<!-- TODO: submit form via ajax to stay on same page... -->