<ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#input-tab-cds" data-toggle="tab">CDS</a></li>
    <li><a href="#input-tab-five" data-toggle="tab">5'UTR</a></li>
    <li><a href="#input-tab-three" data-toggle="tab">3'UTR</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="input-tab-cds">
        <%= render partial: "enhance_transgenes/enter_sequence/input", locals: {baseid: "input-cds"} %>
    </div>
    <div class="tab-pane" id="input-tab-five">
        <%= render partial: "enhance_transgenes/enter_sequence/input", locals: {baseid: "input-five"} %>
    </div>
    <div class="tab-pane" id="input-tab-three">
        <%= render partial: "enhance_transgenes/enter_sequence/input", locals: {baseid: "input-three"} %>
    </div>
</div>



<!-- glyphicon-info-sign -->
<!-- TOOD
2) stay on same page/ keep uploaded file name:
    -> redirect_to :back & render params - parameters!
    sequence_data = params[:sequence]
    text_area_tag sequence_data
OR try using jquery-fileupload


3) get list of accepted file formats from standalone/lib
 -->