<%= form_tag root_path, role: "form" do %>
    <div class="form-group">
        <%= label_tag :sequence, "Enter GeneID, Genebank or FASTA sequence" %>
        <%= button_tag "Reset", type: :reset, class: "btn btn-default btn-xs pull-right", disabled: true %>
        <%= text_area_tag :sequence, nil, class: "form-control", placeholder: "Enter sequence"%>

    </div>
Or, upload file: button | No file selected.
<% end %>

<!-- glyphicon-info-sign -->
<!-- TODO: enable button if text typed into sequence-field -->