<div class="container">
    <div class="row">
        <%= render partial: "enhance_transgenes/submit_job/input", locals: {baseid: "submit-five", label: "5'UTR", text: ""} %>
    </div>
    <div class="row">
        <%= render partial: "enhance_transgenes/submit_job/input", locals: {baseid: "submit-cds", label: "CDS", text: "data cds"} %>
    </div>
    <div class="row">
        <%= render partial: "enhance_transgenes/submit_job/input", locals: {baseid: "submit-three", label: "3'UTR", text: "GCTGCTGGTGGTCTACCCTTGGACCCAGAGGTTCTTTGAGTCCTTTGGGGATCTGTCCACTCCTGATGCTGTTATGGGCAACCCTAAGGTGAAGGCTCATGGCAAGAAAGTGCTCGGTGCCTTTAGTGATGGCCTGGCTCACCTGGACAACCTCAAGGGCACCTTTGCCACACTGAGTGAGCTGCACTGTGACAAGCTGCACGTGGATCCTGAGAACTTCAGGgtgag"} %>
    </div>
</div>