<blockquote>
    <p style="color: rgb(119, 119, 119)">
        <span class="glyphicon glyphicon-education" aria-hidden="true"></span> How to cite this web service</p>
    <p>
        Stefanie Mühlhausen, Laurence D Hurst. <a href="https://doi.org/10.1093/bioinformatics/btac139" target="blank">Transgene-design: a web application for the design of mammalian transgenes</a>, btac139, <i>Bioinformatics</i> (2022).
    </p>
</blockquote>