<h1>Contact</h1>
<p>
    For all questions, comments and bug reports please <a href="mailto:bssldh@bath.ac.uk">contact us</a>:
</p>
<p>
    <strong>Laurence D. Hurst</strong>
</p>
<address>
    The Milner Centre for Evolution<br>
    Department of Biology and Biochemistry<br>
    University of Bath<br>
    Claverton Down<br>
    Bath<br>
    BA2 7AY<br>
    UK<br><br>
    <i class="fa fa-envelope-o" aria-hidden="true"></i> bssldh(at)bath.ac.uk
</address>

<h4>Contributors</h4>
<p>
    Stefanie M&uuml;hlhausen
    <a class="text-muted" target="blank" href="https://stefaniemuehlhausen.de/"><i class="fa fa-external-link" aria-hidden="true"></i></a>
</p>