<h1>Download</h1>
    <p>Use you own version rather than this webinterface?
        <%= link_to "Click here to download the latest version.", standalone_path %>
    </p>
<h3>Archive content</h3>
    <dl class="row">
        <dt class="col-sm-2">sequence_optimiser.rb</dt>
        <dd class="col-sm-10">Main script</dd>
        <dt class="col-sm-2">data (folder)</dt>
        <dd class="col-sm-10">Sample data (genes and ESE lists)</dd>
        <dt class="col-sm-2">lib (folder)</dt>
        <dd class="col-sm-10">Software library</dd>
    </dl>

<h3>Installation</h3>
    <p>The SequenceOptimizer software is written in pure Ruby. You will need to have Ruby v.2.3 or higher installed. Other than that, no compliation is required.</p>
    <p>To execute the SequenceOptimizer, simply enter in a command prompt
    <pre>$ ruby sequence_optimiser.rb</pre>
    </p>
<h3>Restrictions and Licence</h3>
    <p>SequenceOptimizer can be downloaded and used under a GNU General Public License.</p>