<h1>Download</h1>
    <p>
        Use your own version rather than this website? <a target="blank" href="https://github.com/smuehlh/transgenes">Check out our project on github <i class="fa fa-external-link" aria-hidden="true"></i></a>
    .</p>

<h3>Restrictions and License</h3>
    <p>The <%= @archive.camelize %> software can be used under a GNU General Public License <a class="text-muted" target="blank" href="http://www.gnu.org/licenses/gpl-3.0.html"><i class="fa fa-external-link" aria-hidden="true"></i></a>
    .</p>