<%
    error_msg = patch_multiline_text_for_web(error)
    debug_msg = patch_multiline_text_for_web(debug_info)
%>

<%= error_msg %>
<a data-toggle="modal" href="#error-modal-<%= id %>" class="alert-link">Click to inspect log.</a>
<div id="error-modal-<%= id %>" class="modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> Sequence parser log </h4>
            </div>
            <div class="modal-body">
                <pre class="text-muted input-view-text"><%= debug_msg %></pre>
            </div>
        </div>
    </div>
</div>