// style input-section:
// Separate navbar tab content by a border.
textarea {
    resize: vertical;
}

// display sequence inputs
.tab-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-left: -15px;
}
.nav-pills > li > a {
    border-top-right-radius: 0px;
    border-top-left-radius:4px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius:4px;
}

// display all uploaded text in monospace (similar to code - styling)
.monospaced {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.text-wrap {
    word-break: break-all;
    display: inline-block;
}

// display sequence stats
.padding-between-cols td
{
    padding:0 0 0 10px;
}

// display button with outline only
.btn-primary {
    background-color: transparent;
    color: $brand-primary;
}