<%= form_tag input_path, role: "form", id: "#{baseid}-form", class: "form-horizontal" do %>
    <div class="form-group">
        <%= label_tag "#{baseid}-text", label, class: "control-label  col-sm-2" %>
        <div class="col-sm-8">
            <%= text_area_tag "#{baseid}-text", text, class: "form-control", disabled: true, readonly: true, rows: 2 %>
        </div>
        <div class="col-sm-2">
            <%= button_tag "Show all", type: :button, class: "btn btn-primary btn-xs", title: "Show complete data" %>
        </div>
    </div>
<% end %>